* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	margin: 0 auto;
	text-align: center;
}

.container{
	height: 600px;
    background-image: url(https://thekenyonthrill.files.wordpress.com/2014/02/old-tv.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.outterDiv{
	position: absolute;
    top: 30%;
    left: 18%;
}

.counter{
	width: 400px;
}

.yearText{
	font-size: 100px;
}

button{
	border-radius:50%;
	height: 100px;
	width: 100px;
	margin: 10px;
	outline: none;
	color: white;
	margin-top: 20%;
}

.back{
	background-color: black;
}
.back:focus{
	background-color: blue;
}
.stop{
	background-color: grey;
}
.stop:focus{
	background-color: red
}
.start{
	background-color: white;
	color: black;
}
.start:focus{
	background-color: green;
	color: black;
}